# Dependências do NodeJS
node_modules/

# Arquivo de configuração de credenciais locais (Segurança)
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos temporários
prompt

./docs/02_justificativa_decisoes.md
./docs/prompts_videos_depoimentos.md
./docs/roteiro_video_pitch.md
